button {
	margin: 0.1em 0;

	&.btn-dark {
		border: 1px rgb(134, 131, 131) solid;
	}

	&.btn-dark:hover {
		border: 1.5px rgb(197, 193, 193) solid;
	}

	&.btn-dark:focus {
		border-color: rgb(43, 255, 0);
	}
}

body {
	// height: 100vh;
	// background-image: url("../assets/background.jpg");
	background: linear-gradient(135deg, #282828 25%, transparent 25%) -100px 0,
		linear-gradient(225deg, #282828 25%, transparent 25%) -100px 0,
		linear-gradient(315deg, #282828 25%, transparent 25%),
		linear-gradient(45deg, #282828 25%, transparent 25%);
	background-size: 200px 200px;
	background-color: #515151;
}

hr {
	color: white;
}

#searchBox {
	background-color: rgb(58, 56, 56);
	color: white;
}

// Update Time
.last-update {
	border: 1px solid rgba(219, 216, 216, 0.466);
	margin: 1em;
}


// CARDS
.list-group-item {
	background-color: rgba(167, 161, 161, 0.5);
	border: 1px rgb(134, 131, 131) solid;
	color: white;
}
.card-border {
	border: 10px rgb(134, 131, 131) solid;
}

/* TOOLTIP */
.tooltip-top {
	position: relative;
}

.tooltip-top::after {
	background-color: rgb(19, 18, 18);
	border-radius: 5px;
	display: none;
	padding: 10px 15px;
	position: absolute;
	text-align: center;
	z-index: 999;
	border: 1px white solid;

	// Top
	content: attr(data-content);
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 10px));
}

.tooltip-top:hover::after {
	display: block;
}

.tooltip-top::before {
	background-color: rgb(255, 255, 255);
	content: " ";
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 999;
	border: 2px black solid;

	// Top
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip-top:hover::before {
	display: block;
}
